<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/imgs/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
    <%- include('partials/header.ejs') %>
    <img class="portrait" src="/imgs/me.png">
    <p>this app is made by mapbox and darksky.com</p>
</div>

<%- include('partials/footer.ejs') %>
</body>

</html>