<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/imgs/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
    <%- include('partials/header.ejs') %>
    <p><%= helpText %></p>
</div>

<%- include('partials/footer.ejs') %>
</body>

</html>